@import "bourbon";
@import "neat";
@import "normalize";

/* Vars */

$mobile: 400px;
$phablet: 540px;
$tablet: 700px;
$desktop: 960px;
$television: 1440px;

@-ms-viewport{
  width: device-width;
}

html, body {
  background: #f0f0f0;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans", "Roboto", "Helvetica Neue", sans-serif;
  margin: 0;
}

.wrapper {
  $width: 960px;
  width: $width;
}

.main-nav {
  @include display(flex);
  @include align-items(center);
  @include justify-content(flex-end);
  @include background-image(linear-gradient(to bottom, rgba(black, .2), rgba(black, 0)));
  @include flex-wrap(nowrap);
  @include transition(all 240ms $ease-out-cubic);
  width: 100%;
  position: fixed;
  box-shadow: 0 0 2rem rgba(black, 0);

  .wrapper {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-around);
    @include transition(all 240ms $ease-out-cubic);
    width: 50%;
    margin-top: .5rem;
    a {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      @include transition(background-color 240ms $ease-out-cubic);
      height: 3em;
      background-color: rgba(white, .9);
      box-shadow: 0 2px rgba(black, .25);
      border-radius: 3px;
      color: #303030;
      text-decoration: none;
      font-size: .8em;
      text-shadow: 0 1px 0 rgba(white, .5);
      outline: none;
      width: 20%;

      &:hover {
        background-color: rgba(white, 1);
      }
    }
  }

  @media (max-width: $mobile) {
    @include justify-content(center);
    background: white;
    box-shadow: 0 0 2rem rgba(black, .1);
    .wrapper {
      margin-top: 0;
      a {
        font-size: .75em;
        background: transparent;
        color: black;
        box-shadow: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  @media (max-width: $phablet) {
    @include justify-content(center);
    .wrapper {
      width: 33%;
    }
  }
}

.main-header {
  @include transition(all 240ms $ease-out-cubic);
  $color: #09f;
  background-color: $color;
  @include background-image(linear-gradient(to top, rgba(white, .25), rgba(white, 0)));
  height: 90vh;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  h1,h2 {
    font-weight: 300;
    text-align: center;
    color: white;
    text-shadow: 0 2px 2px rgba(black, .1);

    &:hover {
      cursor: default
    }
  }

  h1 {
    font-size: 6em;
    letter-spacing: -.025em;
  }

  h2 {
    font-size: 1.16em;
    letter-spacing: 1px;
    margin-top: 1rem;
  }

  @media (max-width: $mobile) {
    height: 100vh;

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: .9em;
    }
  }
}

.main-content {
  min-height: 100vh;
}